$white: #ffffff;
$lilac: #6327eb;
$light-beige: #f9f7f2;
$dark-beige: #bba285;
$dark-charcoal: #333333;
$footer-gray: rgba(255, 255, 255, 0.503);
$form-gray: rgba(51, 51, 51, 0.501557);
$light-gray: #dadada;
