@mixin roboto($color, $font-weight, $font-size, $line-height) {
  font-family: $roboto;
  color: $color;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin h2($color) {
  font-family: $ptSerif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: $color;
}

@mixin section-tag($color) {
  font-family: $roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: $color;
}

@mixin signature-bold() {
  font-family: $ptSerif;
  font-style: bold;
  font-size: 24px;
  line-height: 32px;
}
