.footer {
  background-color: $dark-charcoal;
  padding-top: 249px;
  padding-bottom: 103px;
  // margin-top: -158px;

  &__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  &__rights {
    @include roboto($footer-gray, 300, 20px, 32px);
    text-align: center;
  }
}

.footer-nav {
  justify-content: center;
  margin-bottom: 87px;
}

.social {
  &__footer {
    justify-content: center;
    margin-bottom: 25px;
  }
}
