.section-tag {
  &__for-lunch {
    text-align: center;
    @include section-tag($dark-charcoal);

    text-align: center;
  }
}

.for-lunch {
  &__container {
    padding-top: 120px;
    padding-bottom: 96px;
  }
  background: $light-beige;
  &__h2 {
    @include h2($dark-charcoal);
    margin-bottom: 53px;
    text-align: center;
  }
  &__grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 2fr 2fr;
    column-gap: 50px;
    row-gap: 32px;
    padding-bottom: 64px;
  }

  &__dish {
    display: flex;
    &--img {
      width: 112px;
      height: 112px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 32px;
    }

    &--title {
      @include roboto($dark-charcoal, 300, 20px, 32px);
      margin-bottom: 6px;
      text-align: left;
    }

    &--description {
      @include roboto($form-gray, 400, 14px, 24px);
    }

    &--price {
      @include roboto($form-gray, 300, 20px, 32px);
      margin-left: auto;
    }
  }

  &__button {
    &--lilac {
      display: block;
      @include buttons($lilac);
      margin: 0 auto;
    }
  }
}
