.header {
  position: relative;
  width: 100%;

  &__back img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__block {
    width: 544px;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    position: relative;
  }

  &__text {
    @include roboto($white, 300, 24px, 32px);
    margin-bottom: 51px;
  }

  &__button {
    width: 170px;
    height: 48px;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
    &--lilac {
      @include buttons($lilac);
      margin-right: 30px;
    }

    &--transparent {
      @include buttons($color: transparent);
      border: 1px solid $white;
    }
  }
}

.btn-block {
  padding-bottom: 261px;
  width: 375px;
  margin: 0 auto;
}

.jumbo-title {
  position: relative;
  font-family: $ptSerif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  color: $white;
  margin-bottom: 16px;
}

.jumbo-title {
  &::before {
    content: url(../../img/square-decoration.svg);
    position: absolute;
    display: block;
    width: 176px;
    height: 176px;
    left: 367px;
    top: -128px;
    z-index: 1;
  }

  &::after {
    content: url(../../img/square-decoration.svg);
    position: absolute;
    display: block;
    width: 176px;
    height: 176px;
    left: -31px;
    bottom: -262px;
    z-index: -1;
  }
}
