.our-history {
  background: $light-beige;
  padding: 160px 0 160px;

  &__h2 {
    @include h2($dark-charcoal);
    margin-bottom: 14px;
    text-align: left;
  }

  &__p {
    @include roboto($dark-charcoal, 300, 20px, 32px);
    margin-bottom: 23px;
    text-align: justify;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--img {
      width: el-width(6);
      position: relative;
      margin-right: 130px;
      &::before {
        content: url(../../img/square-decoration.svg);
        position: absolute;
        display: block;
        width: 176px;
        height: 176px;
        right: -47px;
        top: 66px;
        z-index: 10;
      }
    }
  }

  &--text {
    width: el-width(5);
  }

  &__button--lilac {
    @include buttons($lilac);
  }
}

.section-tag {
  @include section-tag($dark-charcoal);
  margin-bottom: 3px;
}

.cutlery {
  width: 170px;
  height: 170px;
  position: absolute;
  display: flex;
  background: $dark-beige;
  box-shadow: 0px 20px 40px rgba(97, 52, 0, 0.3);
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  bottom: 54px;
  left: -47px;

  &__circle {
    display: flex;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 1px solid $white;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 33px;
    height: 48px;
  }
}
