.press-about-us {
  background: $dark-charcoal;
  padding-bottom: 176px;

  &__h2 {
    @include h2($white);
    text-align: center;
    margin-bottom: 69px;
  }

  &::after {
    content: url(../../img/square-decoration.svg);
    position: absolute;
    display: block;
    width: 176px;
    height: 176px;
    right: 444px;
  }
}

.section-tag {
  &__press-about-us {
    color: $white;
    padding-top: 72px;
    text-align: center;
  }
}

.item {
  background: $white;
  border-radius: 3px;
  width: el-width(4);

  &__title {
    margin-bottom: 32px;
  }

  &__text {
    @include roboto($dark-charcoal, 300, 20px, 32px);
    padding-bottom: 30px;
  }

  &__byline {
    @include signature-bold();
  }
}
.flex-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item1 {
    padding: 49px 41px 57px 48px;
  }

  &__item2 {
    padding: 46px 48px 57px;
  }

  &__item3 {
    padding: 56px 48px 57px;
  }
}
