.reservation {
  background: $white;
  z-index: 0;
  padding: 160px 0 160px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 40px;
    height: 880px;
    background: $light-beige;
  }

  &__container {
    position: relative;
    &::before {
      content: url(../../img/square-decoration.svg);
      position: absolute;
      display: block;
      width: 176px;
      height: 176px;
      z-index: 5;
      top: -69px;
      right: -48px;
    }
  }

  &__flex-container {
    display: flex;
    justify-content: space-between;
  }

  &__form-block {
    display: flex;
    flex-direction: column;
  }

  &__button--lilac {
    @include buttons($lilac);
  }

  &__h2 {
    @include h2($dark-charcoal);
    margin-bottom: 41px;
  }

  &__img {
    width: calc(100% / 12 * 6);
  }
}

.flex-container {
  &__form {
    width: calc(100% - (100% / 12 * 6) - 62px);
  }
}

.label {
  @include roboto($dark-charcoal, 700, 12px, 14px);
  margin-bottom: 14px;
}

.input {
  @include roboto($form-gray, 300, 20px, 32px);
  padding: 8px 16px 8px;
  background: $white;
  border: 1px solid $light-gray;
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 32px;
  }
}
