.what-people-say {
  padding-bottom: 96px;
  background: rgb(249, 247, 242);
  background: linear-gradient(
    180deg,
    rgba(249, 247, 242, 1) 58%,
    rgba(51, 51, 51, 1) 58% marg
  );

  &__container {
    &::before {
      content: url(../../img/square-decoration.svg);
      position: absolute;
      display: block;
      width: 176px;
      height: 176px;
      // left: 367px;
      // top: -128px;
    }
  }
  &__rotator {
    display: block;
  }

  &__h2 {
    @include h2($dark-charcoal);
    margin-bottom: 68px;
    text-align: center;
  }

  &__btn {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.section-tag {
  &__what-people-say {
    text-align: center;
  }
}

.btn-circle {
  width: 48px;
  height: 48px;
  background: $white;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.05);

  &__prev {
    position: absolute;
    top: 390px;
    left: 32px;
    z-index: 10;
  }
  &__next {
    position: absolute;
    top: 390px;
    right: 32px;
    z-index: 10;
  }
}

.rotator-card {
  background: $white;
  padding-top: 65px;
  padding-bottom: 41px;
  width: 100%;
  position: relative;

  &__img {
    width: 128px;
    height: 128px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 41px;
  }

  &__text {
    width: calc(100% - 200px * 2);
    margin: 0 auto;
    @include roboto($dark-charcoal, 300, 20px, 32px);
    margin-bottom: 30px;
    text-align: center;
    padding-top: 5px;
  }

  &__rating {
    display: block;
    text-align: center;
    margin-bottom: 19px;
  }

  &__signature-bold {
    @include signature-bold();
    margin-bottom: 2px;
    text-align: center;
  }
}
