@import "./var/index";
@import "./functions/index";
@import "./mixins/index";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.logo {
  width: 101px;
  height: 48px;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.social {
  display: flex;
  align-items: center;

  &__fb {
    width: 9px;
    height: 16px;
    @include circle;
    margin-right: 8px;
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
  &__twitter {
    width: 16px;
    height: 13px;
    @include circle;
    margin-right: 8px;
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
  &__insta {
    width: 16px;
    height: 16px;
    @include circle;
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

.nav {
  &__container {
    padding: 16px 0 255px;
    position: relative;
    display: flex;
  }

  &__list {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
  }

  &__list-item {
    margin-right: 70px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-link {
    @include roboto($white, 300, 20px, 32px);
    text-decoration: none;
  }
}

a {
  text-decoration: unset;
}

a:hover {
  cursor: pointer;
  opacity: 0.8;
}

@import "./components/header";
@import "./components/our-history";
@import "./components/for-lunch";
@import "./components/what-people-say";
@import "./components/press-about-us";
@import "./components/reservation";
@import "./components/footer";
