* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.logo {
  width: 101px;
  height: 48px;
}

.logo:hover {
  opacity: 0.5;
  cursor: pointer;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__fb {
  width: 9px;
  height: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.3;
  border: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
}

.social__fb:hover {
  opacity: 0.5;
  cursor: pointer;
}

.social__twitter {
  width: 16px;
  height: 13px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.3;
  border: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
}

.social__twitter:hover {
  opacity: 0.5;
  cursor: pointer;
}

.social__insta {
  width: 16px;
  height: 16px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.3;
  border: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__insta:hover {
  opacity: 0.5;
  cursor: pointer;
}

.nav__container {
  padding: 16px 0 255px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.nav__list-item {
  margin-right: 70px;
}

.nav__list-item:last-child {
  margin-right: 0;
}

.nav__item-link {
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
}

a {
  text-decoration: unset;
}

a:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header {
  position: relative;
  width: 100%;
}

.header__back img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__block {
  width: 544px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  position: relative;
}

.header__text {
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 51px;
}

.header__button {
  width: 170px;
  height: 48px;
}

.header__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header__button--lilac {
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: #6327eb;
  width: 170px;
  height: 48px;
  margin-right: 30px;
}

.header__button--transparent {
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: transparent;
  width: 170px;
  height: 48px;
  border: 1px solid #ffffff;
}

.btn-block {
  padding-bottom: 261px;
  width: 375px;
  margin: 0 auto;
}

.jumbo-title {
  position: relative;
  font-family: "PT Serif", Georgia, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}

.jumbo-title::before {
  content: url(../../img/square-decoration.svg);
  position: absolute;
  display: block;
  width: 176px;
  height: 176px;
  left: 367px;
  top: -128px;
  z-index: 1;
}

.jumbo-title::after {
  content: url(../../img/square-decoration.svg);
  position: absolute;
  display: block;
  width: 176px;
  height: 176px;
  left: -31px;
  bottom: -262px;
  z-index: -1;
}

.our-history {
  background: #f9f7f2;
  padding: 160px 0 160px;
}

.our-history__h2 {
  font-family: "PT Serif", Georgia, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 14px;
  text-align: left;
}

.our-history__p {
  font-family: "Roboto", Arial, sans-serif;
  color: #333333;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 23px;
  text-align: justify;
}

.our-history__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-history__flex--img {
  width: 570px;
  position: relative;
  margin-right: 130px;
}

.our-history__flex--img::before {
  content: url(../../img/square-decoration.svg);
  position: absolute;
  display: block;
  width: 176px;
  height: 176px;
  right: -47px;
  top: 66px;
  z-index: 10;
}

.our-history--text {
  width: 470px;
}

.our-history__button--lilac {
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: #6327eb;
  width: 170px;
  height: 48px;
}

.section-tag {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 3px;
}

.cutlery {
  width: 170px;
  height: 170px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #bba285;
  -webkit-box-shadow: 0px 20px 40px rgba(97, 52, 0, 0.3);
          box-shadow: 0px 20px 40px rgba(97, 52, 0, 0.3);
  border-radius: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 54px;
  left: -47px;
}

.cutlery__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cutlery__img {
  width: 33px;
  height: 48px;
}

.section-tag__for-lunch {
  text-align: center;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  text-align: center;
}

.for-lunch {
  background: #f9f7f2;
}

.for-lunch__container {
  padding-top: 120px;
  padding-bottom: 96px;
}

.for-lunch__h2 {
  font-family: "PT Serif", Georgia, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 53px;
  text-align: center;
}

.for-lunch__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  row-gap: 32px;
  padding-bottom: 64px;
}

.for-lunch__dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.for-lunch__dish--img {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 32px;
}

.for-lunch__dish--title {
  font-family: "Roboto", Arial, sans-serif;
  color: #333333;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 6px;
  text-align: left;
}

.for-lunch__dish--description {
  font-family: "Roboto", Arial, sans-serif;
  color: rgba(51, 51, 51, 0.501557);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.501557);
}

.for-lunch__dish--price {
  font-family: "Roboto", Arial, sans-serif;
  color: rgba(51, 51, 51, 0.501557);
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
  margin-left: auto;
}

.for-lunch__button--lilac {
  display: block;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: #6327eb;
  width: 170px;
  height: 48px;
  margin: 0 auto;
}

.what-people-say {
  padding-bottom: 96px;
  background: #f9f7f2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(58%, #f9f7f2), color-stop(58%, #333333));
  background: linear-gradient(180deg, #f9f7f2 58%, #333333 58% marg);
}

.what-people-say__container::before {
  content: url(../../img/square-decoration.svg);
  position: absolute;
  display: block;
  width: 176px;
  height: 176px;
}

.what-people-say__rotator {
  display: block;
}

.what-people-say__h2 {
  font-family: "PT Serif", Georgia, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 68px;
  text-align: center;
}

.what-people-say__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-tag__what-people-say {
  text-align: center;
}

.btn-circle {
  width: 48px;
  height: 48px;
  background: #ffffff;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.05);
}

.btn-circle__prev {
  position: absolute;
  top: 390px;
  left: 32px;
  z-index: 10;
}

.btn-circle__next {
  position: absolute;
  top: 390px;
  right: 32px;
  z-index: 10;
}

.rotator-card {
  background: #ffffff;
  padding-top: 65px;
  padding-bottom: 41px;
  width: 100%;
  position: relative;
}

.rotator-card__img {
  width: 128px;
  height: 128px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 41px;
}

.rotator-card__text {
  width: calc(100% - 200px * 2);
  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
  color: #333333;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 5px;
}

.rotator-card__rating {
  display: block;
  text-align: center;
  margin-bottom: 19px;
}

.rotator-card__signature-bold {
  font-family: "PT Serif", Georgia, serif;
  font-style: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 2px;
  text-align: center;
}

.press-about-us {
  background: #333333;
  padding-bottom: 176px;
}

.press-about-us__h2 {
  font-family: "PT Serif", Georgia, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 69px;
}

.press-about-us::after {
  content: url(../../img/square-decoration.svg);
  position: absolute;
  display: block;
  width: 176px;
  height: 176px;
  right: 444px;
}

.section-tag__press-about-us {
  color: #ffffff;
  padding-top: 72px;
  text-align: center;
}

.item {
  background: #ffffff;
  border-radius: 3px;
  width: 370px;
}

.item__title {
  margin-bottom: 32px;
}

.item__text {
  font-family: "Roboto", Arial, sans-serif;
  color: #333333;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  padding-bottom: 30px;
}

.item__byline {
  font-family: "PT Serif", Georgia, serif;
  font-style: bold;
  font-size: 24px;
  line-height: 32px;
}

.flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-block__item1 {
  padding: 49px 41px 57px 48px;
}

.flex-block__item2 {
  padding: 46px 48px 57px;
}

.flex-block__item3 {
  padding: 56px 48px 57px;
}

.reservation {
  background: #ffffff;
  z-index: 0;
  padding: 160px 0 160px;
  position: relative;
}

.reservation::before {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 40px;
  height: 880px;
  background: #f9f7f2;
}

.reservation__container {
  position: relative;
}

.reservation__container::before {
  content: url(../../img/square-decoration.svg);
  position: absolute;
  display: block;
  width: 176px;
  height: 176px;
  z-index: 5;
  top: -69px;
  right: -48px;
}

.reservation__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reservation__form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reservation__button--lilac {
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: #6327eb;
  width: 170px;
  height: 48px;
}

.reservation__h2 {
  font-family: "PT Serif", Georgia, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 41px;
}

.reservation__img {
  width: calc(100% / 12 * 6);
}

.flex-container__form {
  width: calc(100% - (100% / 12 * 6) - 62px);
}

.label {
  font-family: "Roboto", Arial, sans-serif;
  color: #333333;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  margin-bottom: 14px;
}

.input {
  font-family: "Roboto", Arial, sans-serif;
  color: rgba(51, 51, 51, 0.501557);
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.501557);
  padding: 8px 16px 8px;
  background: #ffffff;
  border: 1px solid #dadada;
  margin-bottom: 36px;
}

.input:last-child {
  margin-bottom: 32px;
}

.footer {
  background-color: #333333;
  padding-top: 249px;
  padding-bottom: 103px;
}

.footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
}

.footer__rights {
  font-family: "Roboto", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.503);
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.503);
  text-align: center;
}

.footer-nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 87px;
}

.social__footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}
/*# sourceMappingURL=style.css.map */